body, html {
    background-color: black;
    color:#ffffff;
    font-family: 'Courier New', Courier, monospace;
    margin: 2%;
}

header a {
    color: white;
    
}

header {
    text-align: center;
    background-color: transparent;
}

div.logo img{
    width: 10%;
    border-radius:12px;
}

.logo-nome{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 140%;
    font-weight: bold;
}

.lista{
    text-align: center;
    border-radius: 40px;
    background-color: transparent;
    border: 2px white solid;
    width: auto;
    height: auto;
    margin: 0;
    padding: 5px;
}

div.lista a{
    color: white;
    text-decoration: none;
}

.banner {
    background-image: url('/pics/IMG_2340.jpeg') ;
    padding:8%;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 40px;
    background-size: cover;
}

.saiba-mais-btn button{
    text-decoration:none;
    background-color: transparent;
    color:white;
    border-radius: 20px;
}

div.post-image-r img {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: 0;
    border-radius: 20px;
}

div.post-image-l img {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: 0;
    margin-right: auto;
    border-radius: 20px;
}

div.freemium p{
    border: 2px black solid;
    font-size: 60%;
    border-radius: 10px;
}

.precos {
    background-color: lightgray;
    color: black;
    border-radius: 20px;
    padding: 0 5%;
}

div.see-all-btn button {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}

div.page-top a {
    text-decoration:none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.download-banner {
    background-image: url('/pics/IMG_2353.jpeg');
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-position: center;
    background-size:cover;
    border-radius: 5rem;
    
}

div.img-logo img{
    max-width: 50px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.img-logo a {
    text-decoration:none;
    color: white;
}

.pg-footer {
    flex-shrink: 0;
    color: white;
    padding: 15px 0;
    text-align: center;
}

div.plans-pic {
    max-width: 200px;
    /* Exemplo: Largura maior que 400px */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.buycard {
    border: 1px white solid;
    padding-bottom: 1rem;
    margin: 10%;
    border-radius:20px;
    padding:5%;
}

div.buy-btn button{
    text-decoration: none;
    color: black;
    border-radius: 10px;
}